Python==3.5.2
aadict==0.2.3
appdirs==1.4.2
arrow==0.10.0
asset==0.6.12
binaryornot==0.4.3
chardet==3.0.2
click==6.7
cookiecutter==1.5.1
dj-database-url==0.4.2
Django==1.10.6
django-bootstrap-datepicker==1.2.2
docker==2.2.1
docker-pycreds==0.2.1
future==0.16.0
globre==0.1.5
gunicorn==19.7.1
Jinja2==2.9.6
jinja2-time==0.2.0
lessc==0.1.2
MarkupSafe==1.0
packaging==16.8
poyo==0.4.1
psycopg2==2.7.1
pyparsing==2.1.10
python-dateutil==2.6.0
requests==2.13.0
selenium==3.0.2
six==1.10.0
websocket-client==0.40.0
whichcraft==0.4.1
whitenoise==3.3.0
