body {
  font-family: 'Handlee', cursive;
}

table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

li {
    list-style-type: none;
}

ul.day {
  padding-left: 0px;
  text-align: center;
}

.calendar-table {
width: 100%;
height: 500px;
table-layout: fixed;
}

.col-md-1 {
  width: 14.33333333%;
  background-color: #eaebed;
  padding: 3px;
  border-color: white;
}

.event-class {
  color: black;
}

.mon, .tue, .wed, .thu, .fri, .sat, .sun{
  border: 2px solid #ddd;
  background-color: #66cdaa;
  border-color: white;
  max-height: 5px;
  text-align: center;
  font-size: 18px;
}

.new_event_div {
  padding-top: 10px;
}

.right {
  float: right;
  padding-top: 2%;
}

.left {
  float: left;
  padding-top: 2%;
}

th.month {
  text-align: center;
  font-size: 30px;
  height: 5px;
}

.pad-right {
  padding-right: 8%;
  display: block;
}

.dayNumber, .dayNumberNoReadings {
  list-style-type: none;
  vertical-align: top;
}

.centre-form{
  width: 100%;
  height: 80%;
  padding-left: 30%;
}

.centre-head {
  width: 70%;
  padding-left: 29%;
  text-align: center;
}

.container#add-friend-form {
  padding: 10% 20% 10% 20%;
}

.time {
  color: #8c8c8c;
  font-size: 10px;
}

.btn-group {
  padding-top: 10px;
}

.wrapper {
    overflow:hidden;
    width:100%;
    display:block;
}

.floatLeft, .floatRight {
    float:left;
    height:48%;
    width:48%;
  }

.pad-top {
   padding-top: 15px!important;
}

.btn-primary {
  overflow: hidden;
  white-space: nowrap;
  background-color: #00abb0;
  border-color: #00abb0;
  box-shadow: 1px 1px 1px 1px grey;
}

.btn-primary:hover {
   background: #019499;
}

.navbar-default {
  border-color: white;
  background-color: white;
}

.align-top{
  vertical-align: top;
}
