<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <h1>{% block header_text %}{% endblock %}</h>
  <body>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <form class="form-class" method="post">
        {% csrf_token %}
        {{ form }}
        <input id="submit" type="submit" value="submit"/>
      </form>

      <script src="js/bootstrap.min.js"></script>
  </body>
</html>
